---
import SectionTitle from "../ui/SectionTitle.astro";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

const laravelServices = [
  {
    id: 1,
    title: "Laravel Software",
    category: "Software",
    description:"Discover our Multi-tenant Laravel SaaS Starter Kit that comes with all features required to run a modern SaaS. Payments, Beautiful Checkout and more",
    link: "/software",
    isDark: true,
    bgColor: "bg-green", /** pink **/
  },
  {
    id: 2,
    title: "Laravel Support",
    category: "Support",
    description:"Are you no longer receiving security updates! Need help upgrading your app? Try contact our team if you need more than just support.",
    link: "/contact",
    isDark: true,
    bgColor: "bg-dark",
  },
  {
    id: 3,
    title: "Laravel APIs",
    category: "Integration",
    description:"Are you stuck and you need help integrating to different APIs? We have a team of experts that can help you integrate the API/automation beeing hardware if need it.",
    link: "/contact",
    isDark: false,
    bgColor: "bg-gray",
  },
  {
    id: 4,
    title: "Laravel Consulting",
    category: "Strategy",
    description:
      "Get expert technical guidance, strategic planning, and best practices for your Laravel development projects from our experienced consultants.",
    link: "/contact",
    isDark: false,
    bgColor: "bg-gray",
  },
  {
    id: 5,
    title: "Laravel Optimization",
    category: "Performance",
    description:
      "Improve the speed and efficiency of your Laravel applications with our database optimization and scaling techniques.",
    link: "/contact",
    isDark: true,
    bgColor: "bg-dark",
  },
  {
    id: 6,
    title: "Laravel Upgrades",
    category: "Upgrades",
    description:
      "Seamlessly upgrade your Laravel applications to the latest versions to benefit from new features, security updates, and performance improvements.",
    link: "/contact",
    isDark: false,
    bgColor: "bg-green",
  },
  {
    id: 4,
    title: "Laravel Consulting",
    category: "Strategy",
    description:
      "Get expert technical guidance, strategic planning, and best practices for your Laravel development projects from our experienced consultants.",
    link: "/contact",
    isDark: false,
    bgColor: "bg-gray",
  },
];

const sectionDescription =
  "As a Laravel only software development agency we offer unrestricted and bespoke development for websites and applications.";
---

<Section id="services" aria-label="Our Laravel Development Services">
  <div class="mt-24 mb-10">
    <SectionTitle
      sectionTitle="Our Laravel Services"
      description={sectionDescription}
    />

    <div class="grid gap-8 md:grid-cols-2">
      <p>
        Already have a website or application that you need to build? We have a
        wide range of <b>Laravel services</b> for scalable, secure, and maintainable
        PHP applications. We provide already build robust systems using clean architecture,
        SOLID principles, and seamless frontend-backend integration so you don't
        have to anymore.
      </p>
      {
        laravelServices.map((service) => {
          const textClass = service.isDark ? "text-white" : "";

          return (
            <Card isUnderline={true}>
              <a
                href={service.link}
                class={`block h-full p-6 sm:p-10 rounded-3xl ${service.bgColor} ${textClass} hover:shadow-lg hover:scale-[1.01] transition-all duration-300 ease-in-out`}
              >
                <div
                  class="grid h-full gap-6 md:grid-cols-[1fr_auto]"
                  itemscope
                  itemtype="http://schema.org/Service"
                >
                  <div class="flex flex-col justify-between">
                    <h2
                      title={`${service.title} agency`}
                      id={`service-${service.id}`}
                      class="text-2xl font-semibold tracking-tight leading-snug mb-2"
                      itemprop="name"
                    >
                      {service.title}
                    </h2>

                    <p
                      class="text-base text-muted-foreground leading-relaxed"
                      itemprop="description"
                    >
                      {service.description}
                    </p>
                  </div>

                  <div class="flex items-end justify-end">
                    <span class="inline-block px-4 py-1 text-sm font-medium bg-white/20 rounded-full backdrop-blur-md">
                      {service.category}
                    </span>
                  </div>

                  <meta itemprop="serviceType" content={service.category} />
                </div>
              </a>
            </Card>
          );
        })
      }
    </div>
  </div>
</Section>
