---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
import servicesData from "./Data/services.json";
---

<Container>
    <div class="relative flex flex-col items-center md:flex-row" id="services">




        <div class="grid place-items-center gap-5 mb-10 md:flex">
            <h2 class="text-4xl sm:text-5xl px-1.5 font-medium bg-lime rounded-md" title="Laravel Agency">
                Laravel Services Agency
            </h2>
            <p class="text-xl font-normal text-center md:text-start lg:w-2/3">
                Our <a title="laravel agency" href="https://laravelcompany.com">Laravel agency</a> helps businesses grow and succeed online through a range of software development products and services for your Laravel Application.
            </p>
        </div>

    </div>

    <div class="flex-row items-center py-5">
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-4">
            {
                servicesData.map(
                    ({
                        background,
                        name1,
                        description,
                        link,
                        image,
                    }) => (
                        <div class={background}>
                            <div class="flex-col justify-center items-start gap-[93px] inline-flex">
                                <div class="flex-col justify-start items-start flex">
                                    <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                                        <h3 class="text-4xl font-medium">
                                            {name1}
                                        </h3>
                                    </div>
                                    <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                                        <p class="text-2xl font-medium">
                                            {description}
                                        </p>
                                        {link && link !== "#" ? (
                                            <a
                                                class="justify-start items-center gap-[15px] inline-flex"
                                                href={link}
                                            >
                                                <div class="text-xl font-normal leading-7">
                                                    Learn more
                                                </div>
                                            </a>
                                        ) : (
                                            <div class="text-xl font-normal leading-7">
                                                Coming soon
                                            </div>
                                        )}
                                    </div>
                                </div>
                            </div>
                            <div class="w-[210px] h-[170px] pt-0.5 pb-[1.95px] justify-center items-center flex">
                                <img class="hidden md:block" src={image} alt={`Image of ${name1}`} />
                            </div>
                        </div>
                    ),
                )
            }
        </div>
    </div>
</Container>